* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.bg-color {
  background: #fffee0;
  width: 85%;
  padding: 40px;
  margin: 100px auto;
}

/* .img-letter {
  top: 50px;
  left: 90px;
  position: absolute;
} */

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #946f3b;
  text-align: center;
}

h3 {
  font-size: 32px;
  color: #444;
  text-align: center;
  margin-bottom: 30px;
}

/* .img-books {
  margin-top: 80px;
  margin-left: 280px;
} */

.authors {
  margin-left: 70px;
  list-style-type: none;
}

li {
  font-size: 23px;
  margin: 10px;
}

a:link {
  color: #946f3b;
  text-decoration: none;
}

a:visited {
  color: #946f3b;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* FLEXBOX */
.header {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-bottom: 60px;
}

.list-and-img-container {
  display: flex;
  gap: 80px;
  align-items: center;
}
